body {
  font-family: 'Lato', sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #95a5a6;
}
a {
  color: #34495e;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header {
  background-color: #34495e;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heading {
  font-size: 2em;
  color: white;
}
.subheading {
  color: white;
}
.body {
  background-color: #ecf0f1;
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 80%;
  position: relative;
  top: -40px;
  margin: auto;
  padding: 10px;
  overflow: scroll;
}
.body p {
  margin: 0px;
}
.section p span {
  font-weight: bold;
  color: black;
}
.section p {
  color: #34495e;
}
.section .text {
  font-size: 1.5em;
  text-align: center;
  border: solid 1px #34495e;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  position: relative;
  top: -30px;
  margin: auto;
}
.footer span {
  font-size: .8em;
  color: white;
}